<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Econmed.ImageViewer.Layout.HangingProtocols.LayoutSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Econmed.ImageViewer.Layout.HangingProtocols.LayoutSettings>
            <setting name="LayoutSettingsXml" serializeAs="Xml">
                <value>
                    <hanging-protocols>
                        <hanging-protocol>
                            <study-filter>
                                <condition>
                                    <contains test="$ModalitiesInStudy" pattern="MG" />
                                </condition>
                            </study-filter>
                            <image-filter name="MG-Left-CC">
                                <condition>
                                    <and>
                                        <equal test="$PresentationIntentType" refValue="FOR PRESENTATION" />
                                        <equal test="$Modality" refValue="MG" />
                                        <equal test="$ImageLaterality" refValue="L" />
                                        <or>
                                            <equal test="$ViewPosition" refValue="CC" />
                                            <equal test="$PatientOrientation" refValue="P\L" />
                                            <equal test="$PatientOrientation" refValue="A\R" />
                                        </or>
                                    </and>
                                </condition>
                            </image-filter>
                            <image-filter name="MG-Right-CC">
                                <condition>
                                    <and>
                                        <equal test="$PresentationIntentType" refValue="FOR PRESENTATION" />
                                        <equal test="$Modality" refValue="MG" />
                                        <equal test="$ImageLaterality" refValue="R" />
                                        <or>
                                            <equal test="$ViewPosition" refValue="CC" />
                                            <equal test="$PatientOrientation" refValue="P\L" />
                                            <equal test="$PatientOrientation" refValue="A\R" />
                                        </or>
                                    </and>
                                </condition>
                            </image-filter>
                            <image-filter name="MG-Left-MLO">
                                <condition>
                                    <and>
                                        <equal test="$PresentationIntentType" refValue="FOR PRESENTATION" />
                                        <equal test="$Modality" refValue="MG" />
                                        <equal test="$ImageLaterality" refValue="L" />
                                        <or>
                                            <equal test="$ViewPosition" refValue="MLO" />
                                            <not>
                                                <or>
                                                    <equal test="$PatientOrientation" refValue="P\L" />
                                                    <equal test="$PatientOrientation" refValue="A\R" />
                                                </or>
                                            </not>
                                        </or>
                                    </and>
                                </condition>
                            </image-filter>
                            <image-filter name="MG-Right-MLO">
                                <condition>
                                    <and>
                                        <equal test="$PresentationIntentType" refValue="FOR PRESENTATION" />
                                        <equal test="$Modality" refValue="MG" />
                                        <equal test="$ImageLaterality" refValue="R" />
                                        <or>
                                            <equal test="$ViewPosition" refValue="MLO" />
                                            <not>
                                                <or>
                                                    <equal test="$PatientOrientation" refValue="P\L" />
                                                    <equal test="$PatientOrientation" refValue="A\R" />
                                                </or>
                                            </not>
                                        </or>
                                    </and>
                                </condition>
                            </image-filter>
                            <workspace rows="2" columns="2">
                                <image-box filter="MG-Right-CC" />
                                <image-box filter="MG-Left-CC" />
                                <image-box filter="MG-Right-MLO" />
                                <image-box filter="MG-Left-MLO" />
                            </workspace>
                            <workspace rows="1" columns="2">
                                <image-box filter="MG-Right-CC" />
                                <image-box filter="MG-Left-CC" />
                            </workspace>
                            <workspace rows="1" columns="2">
                                <image-box filter="MG-Right-MLO" />
                                <image-box filter="MG-Left-MLO" />
                            </workspace>
                            <workspace rows="2" columns="2">
                                <image-box filter="MG-Right-CC" prior-study="true" />
                                <image-box filter="MG-Left-CC" prior-study="true" />
                                <image-box filter="MG-Right-CC" />
                                <image-box filter="MG-Left-CC" />
                            </workspace>
                            <workspace rows="2" columns="2">
                                <image-box filter="MG-Right-MLO" prior-study="true" />
                                <image-box filter="MG-Left-MLO" prior-study="true" />
                                <image-box filter="MG-Right-MLO" />
                                <image-box filter="MG-Left-MLO" />
                            </workspace>
                        </hanging-protocol>
                    </hanging-protocols>
                </value>
            </setting>
        </Econmed.ImageViewer.Layout.HangingProtocols.LayoutSettings>
    </userSettings>
</configuration>